html {
    background: #ddd;
}

body {
    margin: 0px;
    color: #222;
    background: #fcfcfc;
    font: 18pt sans-serif;
}

header {
    padding: 5px 0px;
    margin: 0px;
    color: #fafafa;
    background: #034769;
    font-size: 28pt;
    text-align: center;
}

section header {
    margin: 10px;
    font-size: 18pt;
}

p {
    padding: 0px;
    margin: 0px;
}

main {
    padding: 20px;
}

/* Navigation styles */
nav, footer {
    padding: 10px;
    background: #034769;
    color: #fafafa;
    border: 2px solid #086fa1;
}

nav ul {
    margin: 0px;
    padding: 0px;
}

nav li {
    display: inline;
    padding: 0 10px;
    border-right: 2px solid #086fa1;
    text-align: center;
}

/* nav a:link, nav a:visited {
    color: #fafafa;
    text-decoration: none;
}

nav li:hover {
    background: #086fa1;
} */

/* End Navigation styles */

footer {
    text-align: center;
}

h1 {
    font-size: 24pt;
    margin: 0;
    padding-bottom: 10px;
}

input, select, button {
    margin: 5px;
    font-size: 18pt;
    width: 100%;
    border-color: #086fa1;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.label {
    display: inline-block;
    width: 400px;
}

input .field {
    display: block;
}

label {
    display: block;
}

.button {
    font-size: 16pt;
    min-width: 30px;
}

#btn_prev, #btn_next {
    width: 40px;
}

/* Table styles */
table {
    display: block;
    font-size: 16pt;
    background: #ffffff;
    border-collapse: collapse;
    margin-top: 10px;
    overflow: scroll;
}

caption {
    text-align: left;
    padding-left: 40px;
    background: #034769;
    color: #fafafa;
    border-width: 1px;
    border-style: solid;
    border-color: #086fa1;
}

td, th {
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-color: #086fa1;
    padding: 5px;
    margin: 0px;
}

th {
    background: #f3f3f3;
}

.selected_row {
    background: #afdefa;
}
/* End Table styles */

.info {
    font-size: 12pt;
    background: #f3f3f3;
}

hr {
    background: #086fa1;
    border-color: #086fa1;
}

/**.grid_3c {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
}*/

.flex_style {
    display: flex;
    overflow: scroll;
}

#delete_dialog {
    background: #ffffe0;
}
